@CHARSET "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
	color: blue;
}

td.wider-line {
	line-height: 150%;
}

#MobileSplash {
	background-color: grey; 
	color: white; 
	text-align: left; 
}

/* masterDiv is the container that provides the user links to the site documents. */
#master {
	background-image: url(../images/ocean1.jpg);
	background-size: cover;"
}

/* detail is the is the right side element that contains the slaved page data. */
#detail {

}

.directoryLink {
	text-align: center;
	color: #0080c0;
	background-color: cyan; 
	margin-top: 0;
	line-height: 175%;
	font-size: .8em;
	font-weight: bold;
	border-bottom: 3px solid #8484ff;
}


/*page2 is a div */
#page2 {
	padding: 15px 10px 10px 10px;
	/*add padding to an element without adding to the predefined width*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/*
 *          v...Generic formats ...v
 */
 
.footnote {
	font-size: .7em;
	font-weight: bold;
}

.footNoteTableStart {
	vertical-align: bottom;
}

.footNoteText {
	color: #484848;
	font-style: italic;
	font-size: 75%;
}

/*
 *          v...Page specific formatting...v
 */

.MobileIntro {
}

#contractArticle {
	font-size: 90%;
}

p.separator {
	margin-top: .9em; 
	margin-bottom: 0em;
}

p.spread {
	line-height: 140%;
	margin-bottom: 0.5em;
}

li.narrow-line {
	line-height: 30%;
}

.historyH1 {
	font-size: 100%;
	margin-bottom: 0.1em;
}

.historyTable {
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-spacing: 0;
}

.historyTableHeading {
	text-align: center;
	font-size: 100%;
	cellpadding: 0;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-spacing: 0;
}

.historyTableCellHeading {
	text-align: center;
	font-size: 90%;
	font-weight: bold;
	cellpadding: 0;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #d1eaef;
}

.historyTableCell {
	text-align: center;
	cellpadding: 0;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 90%;
}

.employmentTable {
	font-size: 85%;
}

.employmentTableEntry {
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-spacing: 0;
	border-color: #eef7f9;
	background-color: #eef7f9;
}

.capabilityHeading {
	font-size: 120%;
	text-align: center;
	margin-bottom: 0.3em;
}

.capabilityH1 {
	font-size: 100%;
	margin-bottom: 0.1em;
	display: inline;
}

.skillsTable {
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-spacing: 0;
}

.skillsTableCellHeading {
	text-align: center;
	cellpadding: 0;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-spacing: 0;
}

.skillsTableCell {
	text-align: center;
	cellpadding: 0;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 12px;
}

.activityTable {
	font-size: 95%;
	list-style-position: inside;
	padding-left: 0px;
	line-height: 130%;
}

.toolsTable {
	font-size: 95%;
	list-style-position: inside;
	padding-left: 0em;
	line-height: 130%;
	border-collapse: collapse;
}

.pagebag{
	 margin: .5em .5em 0em 1em;
}

.TOC {
	background-color: AliceBlue;
	font-weight: bold;
	font-size: 1.2em;
}
.TOC_entry {
	font-weight: normal;
	font-size: 0.9em;
	margin: .2em 0em 0em 1.2em;
	border: solid;
	border-width: 0.05em;
	border-color: #acbfd0;
	background-color: #eaf4f5;
}
.TOC_link {
	text-decoration: none;
	color: blue;
}

.SectionName {
	font-size: 1em;
	font-weight: bold;
	margin: 1em 0em 0.5em 0em;
}

.StepSection {
	margin: 0em 0em 0em .8em;
}

.SubstepSection {
	margin: 0em 0em 0em 1.6em;
}

.AsideSection {
	font-size: 1em;
	margin: -.4em 0em 0em 2em;
	line-height: 130%;
}

