@CHARSET "ISO-8859-1";
/* The Modal (background) */
.modal {
    display: block; /* Shown by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    padding-top: 100px; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #efe4b0;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    width: 50%;
}

/* The Close Button */
.closeThisModal {
	background-color: red;
    color: black;
    float: right;
    font-size: 10px;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}

.closeThisModal:hover,
.closeThisModal:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}